html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffce5c;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  padding-top: 20px;
  user-select: none;
}

.react-calculator {
    position: relative;
    margin: 0 auto;
    background-color: #ededed;  
    box-shadow: 0 19px 38px rgba(19, 19, 19, .24),
                0 15px 12px rgba(19, 19, 19, .12);
    width: 280px;
    padding: 10px;
}

button {
  outline: none;
  border: 0;
  padding: 16px;
  font-size: 20px;
  line-height: 1;
  background-color: #ffffff;
  color: #ffce5c;
  transition: all 300ms;
  border: 1px solid #0001;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

button:hover {
  color: #00a3f5;
  border: 1px solid #ffce5c22;
}


.result {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  overflow: hidden;
  background-color: #d63c6b;
  font-size: 32px;
  line-height: 2;
  color: #60d63c;
  text-align: right;
  direction: rtl;
  white-space: nowrap;
  box-sizing: border-box;
}

.functions button, .math-operations button {
  display: inline-block;
  color: #d63c6b
}

.functions button:hover, 
.math-operations button:hover {
  color: #b696a0;
}

.numbers {
  width: 210px;
  float: left;
}

.numbers button {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  float: left;
}

.functions {
  float: left;
  width: 210px;
}
